extends layout
block content
  div.profileTop      
    a#homelink.link(href='/') Home Page  
    a#logoutlink.link(href='logout') Log Out
    
  if name === 'Tokyo'
    div.cityBanner.Tokyo
  if name === 'Dubai'
    div.cityBanner.Dubai
  if name === 'Sydney'
    div.cityBanner.Sydney
      

  div.container
    div.cityInfo
      h3 #{name}
      h4 #{info}
    
    div.btnWrapper
      a#linkToAddNewPost.link(href='/posts/newPost') Add New Review 

    div.posts 
      each post in posts
        div.itemPost
          div.postContent
            p.title= `"${post.title}"`
            p.content= `"${post.content}"`  
          div.postData
            span= post.name
            br
            span.date= post.date_added.toString().slice(3,15)
    
