extends layout
block content
  if name 
    h2 Hi #{name}
    a#logoutlink(href='logout') Log Out
    br
    a#homelink(href='/') Home Page
    
    div#userInfo
      form(action=`/users/${userID}` method='POST')
        div
          img(src=`/images/userPics/img${imgNum}.jpeg`)
        br
        span Name: 
        span#name(contenteditable='true') #{name}
        br
        span City: 
        span#city(contenteditable='true') #{city}
        br
        spane Date joined: 
        span#joined(contenteditable='true') #{joined.toString().slice(0,15)}
        br
        button#edit(type='submit') Edit Profile
  else 
      h1 #{title}
      h2 You need to be logged in to view this page

  div#userPosts
    span Posts:
      //- ul
      //-   each post in posts
      //-     li= post.content  
      //-     li= post.date_added
      //-     li= post.city_name
  
