extends layout
block content
  
  if name 
    div.profileTop      
      a#homelink.link(href='/') Home Page
    
      a#reviewLink.link(href='/posts/newPost') Review places
      a#logoutlink.link(href='logout') Log Out
      
    div.container
      div#userInfo(data-id= `${id}`)
        form#profile(action=`/users/${userID}` method='POST')
          div.form-group
            div(name='img').form-control
              img(src=`/images/userPics/img${imgNum}.jpeg`)
          
          div.form-group
            label(for='name') Name: 
            div(name='name').form-control
              span#name #{name}
              
          div.form-group
            label(for='city') City: 
            div(name='city').form-control
              span#city #{city}
              
          div.form-group
            label(for='date') Date joined: 
            div(name='date').form-control
              span#joined #{joined}
          
          br
          button#editProfile.btn.btn-info(type='submit') Edit Profile
    

      div#userPosts
        each post in posts
          div.postCard(data-id= post.post_id)
            button.delete
              i.material-icons.delete delete
              
            button.edit
              i.material-icons.edit mode_edit
            p.city= post.city_name
            p.content= post.content  
            span.date= moment(post.date_added).fromNow()
    
      div#dialogoverlay
        div#dialogbox
          div
            div#dialogboxhead
              span.close x
              p Confirm the action
            div#dialogboxbody
            div#dialogboxfoot
            
            
            
      div.profileFooter
      
  else 
    h1 #{title}
    h2 You need to be logged in to view this page

  script(src="/js/dialog.js")
  script(src="/js/script.js")
